@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;   
    }
    
    section:nth-child(3) {
		grid-column: span 2;
	}

    p {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 1.9rem;
    }

    section {
        min-width: 300px;
    }
    

}