@media only screen and (max-width: 32.5em) {
    main {
        font-size: .8rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .jumia {
        grid-column: 1 / 2;
    }
    .boomplay {
        grid-column: 2 / 3;
    }
    .coke {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

}