body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

main {
    margin: 0 auto;
    background-color: #fff;
    max-width: 400px;
    text-align: center;
}

picture img {
    width: 100%;
    height: auto;
}
picture img[data-src] {
    filter: blur(0.7em);
}
picture img{
    filter: none;
    transition: filter 1s;
}