@media only screen and (min-width: 37.5em) {
  header {
    grid-template-columns: 130px 1fr 200px;
  }

  h1 {
    font-size: 2.2rem;
  }
  header h2 {
    font-size: 1.8rem;
  }
  .socials {
    display: flex;
    right: 1.6rem;
    top: 3.5rem;
  }
  .socials a img {
    margin: 1rem;
    border-radius: 10rem;
  }
  nav {
    grid-column: span 3;
    grid-row: 2;
  }
  date {
    grid-column: span 3;
    grid-row: 3;
  }
  main {
    margin: 0 auto;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
  }
  .hero,
  .spotlightContainer,
  .join,
  .release {
    grid-column: span 3;
  }
  .spotlightContainer {
    display: flex;
    grid-row: 3;
  }
  .spotlightContainer div {
    height: 4rem;
  }
  .event,
  .weather {
    grid-row: 5;
  }
  .event {
    grid-column: span 2;
  }
  footer {
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
  }
  footer article:nth-child(2) {
    text-align: left;
    margin: 1rem 0 0 2rem;
  }

  footer img {
    width: 12rem;
  }
  footer article:nth-child(3) {
    margin-top: 3rem;
  }
  footer section {
    grid-column: span 3;
    display: block;
  }
}
