@media only screen and (min-width: 37.5em) {
  h1 {
    font-size: 2.2rem;
  }

  .logo img {
    width: 100%;
  }

  .headings div {
    font-size: 1.3rem;
  }
  #date {
    width: 16rem;
    font-size: 1rem;
  }

  main {
    margin: 0 auto;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
  }

  .hero,
  .spotlightContainer,
  .join,
  .release {
    grid-column: span 3;
  }

  .spotlightContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .spotl3 {
    grid-column: span 2;
  }

  .event,
  .weather {
    grid-row: 5;
  }

  .event {
    grid-column: span 2;
  }

  footer {
    font-size: 1.4rem;
  }

  .footer {
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    padding: 1rem;
  }

  footer img {
    width: 10rem;
    height: auto;
  }

  footer h3, .footerheading p {
    margin: 0;
    text-align: left;
  }

  .footerlctn p {
    margin: 0;
  }
  footer section {
    display: block;
  }
}