body {
    font-family: 'Roboto', 'Merriweather', Helvetica, sans-serif;
    margin: 0 auto;    
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100%;
    color: white;
    background-color: #071b6d;
    text-align: center;
    margin-bottom: .7rem;
    
}
header img {
    margin: .2rem;
    border-radius: 2rem;
    width: 7rem;
    flex: 1 1 auto;
}

header h2{
    margin-top: -1.2rem;
    font-size: 1.3rem;
}

.socials img {
    border-radius: 12rem;
    width: 2rem;
    grid-column: 4/5;
    margin: 2rem 0 0 2rem;
}
.socials {
    display: flex;
}
.heading {
    grid-column: 2/4;
    text-align: left;
}
nav {
    grid-column: 5;
    grid-row: 2;
 }
aside {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 1.5rem;
	background-color: #eee;
    grid-column: span 5;
    grid-row: 3;
    color: #19297C;
}

img {
    width: 100%;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    text-align: left;
}

main div {
    padding: 5rem;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: #ccc;
}
main h2 {
    text-align: left;
}
footer {
    text-align: center;
    color: white;
    background-color: #19297C;
    padding: 2.5rem;
    border-radius: 0px  0px 12px 12px;
}

footer div {
    font-size: 1.2rem;
    padding: .3rem;
}

.date {
    font-size: .8rem;
    color: #07A0C3;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

