body {
    font-family: 'Roboto', 'Merriweather', sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #42BFDD;
    margin: 0;
}

.bannercontent {
    display: flex;
    align-items: center;
    padding: 1.2rem;
    margin: 0 auto;
    max-width: 620px;
    color: white;
}

.bannercontent p {
    flex-grow: 1;
    line-height: 1.4;
}

.bannerclose {
    border: none;
    background: none;
    cursor: pointer;
    color: red;
}

.header {
    width: 100%;
    padding: 5px 0;
    align-items: center;
	justify-content: space-between;
    margin: 0 auto;
    color: #071b6d;
    display: flex;
}
.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}
header .headings {
    display: flex;
    flex-direction: column;
	margin-left: .5rem;
}
.logo img {
    width: 3.5rem;
    height: auto;
    border-radius: .6rem;
}

h1 {
    font-size: 1.3rem;
    margin: 0;
    font-family: 'Roboto', serif;
}

.headings div {
    text-align: left;
    font-size: 0.8rem;
    font-family: 'Merriweather', sans-serif;
}
.socials img {
	width: 25px;
	height: auto;
    padding: .5rem;
}

nav button {
    margin: .2rem 2vw;
    align-items: right;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.3);
    font-size: 2rem;
    color: #071b6d;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #071b6d;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #62B9F9;
}

nav ul li a:hover {
    color: white;
    background-color: #071b6d;
    border-radius: 1rem;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#date {
    margin: 0 auto;
    width: 12rem;
    border-radius: 6px 0 6px 0;
    padding: 0.3rem;
    color: #071b6d;
    font-size: 0.8rem;
    background-color: #62B9F9;
    text-align: center;
    align-items: center;
}

main {
    
    margin: .5rem 0 .5rem 0;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1200px;
}
main h2 {
    text-align: center;
    border-bottom: 2px solid #bbb;
    font-size: 1.7rem;
    text-shadow: 2px 2px 6px #bbb;
    padding: 0;

}
main div {
    padding: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #ccc;
    font-size: 1.2rem;
}

.hero img {
    width: 100%;
}

.hero {
    padding: 0;
    position: relative;
}

.myphoto img {
    height: 100%;
}

.hero h2 {
    border-bottom: none;
    position: absolute;
    top: .2rem;
    left: 2rem;
}

.hero button {
    position: absolute;
    bottom: 2rem;
    right: 6vw;
    transition: all .5s ease;
    color: #fff;
    font-size: 17px;
    background-color: orangered;
    border: 3px solid white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    padding: 10px;
    outline: none;
    border-radius: 1.2rem;
}

main button:hover {
    color: orangered;
    background-color: white;
}

.spotlightContainer {
    padding: .2rem;
    display: flex;
    flex-direction: column;
    grid-gap: .3rem;
}

.spotl1,
.spotl2,
.spotl3 {
    padding: 0;
}

.spotl1 img,
.spotl2 img {
    width: 100%;
}

.weather {
    padding: 0;
    position: relative;
    width: 100%;
    align-items: center;
}

.weather figure {
    display: flex;
}

.weather figure p {
    font-size: larger;
    margin-top: 2rem;
}

.weather img {
    width: 50%;
    margin: 2;
}

.event {
    padding: 0;
}

p {
    text-align: center;
    margin: 1vw;
}

.release,
.join {
    padding: 0;
}

.join h2 {
    transition: all .5s ease;
    color: #fff;
    font-size: 17px;
    background-color: orangered;
    border: 3px solid white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    padding: 1rem;
    outline: none;
    border-radius: 1.2rem;
    text-align: center;
}

.join h2:hover {
    color: orangered;
    background-color: white;
}

footer img {
    width: 30vw;
}

footer section {
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
}

footer {
    font-size: .9rem;
    width: 100%;
    background-color: #071b6d;
    text-align: center;
    color: white;
    margin: 0 auto;
    display: block;
}
footer figure {
    margin: 0;
}

footer .date {
    color: #62B9F9;
    font-size: smaller;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}