@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    margin: 0, auto;
}
/*......lazy load......*/
picture img[data-src] {
    filter: blur(0.9em);
}
picture img{
    filter: none;
    transition: filter 3s;
}

/*......header......*/
div.top-header {
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

div.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

div.socials {
    margin-right: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
}
.search-items {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.socials svg, .socials img {
	width: 25px;
	height: auto;
}
.logo img {
	width: 100px;
	height: auto;
}

.search-logo input {
    border: none;
    margin: 2px 7px;
}
.search-logo {
    border: 1px solid #555;
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
}

nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    background-color: #EC744A;
    border: 1px solid #CCC9E7;
    color: white;
    
}
nav ul {
    list-style-type: none;
    display: block;
    text-align: center;
    padding: 0px;

}

nav ul li a:active {
    background-color: #CCC9E7;
    text-decoration: underline;
}

li a:hover{
    background-color: #FDD85B;
}

/*.....main.....*/
div.call-photo {
    position: relative;
    width: 100%;
    height: auto;
}

#index-main .call-photo img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

div.action-call {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .5rem .2rem .5rem .2rem;
    background-color: rgba(255,255,255,.7);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    overflow: scroll;
}
div.action-call h1, div.action-call p {
    grid-column: span 3;
}

h1, h2, h3, h4, p {
    margin-left: 5%;
    text-align: center;
}
h2,h3,h4 {
    padding: .5rem;
}
p {
    padding: .5rem;
    font-family: 'Open Sans', sans-serif;
}
div.action-call button {
    cursor: pointer;
    padding: .3rem .7rem;
    background-color: #EC744A;
    color: #fff;
    border: none;
    border-radius: 8px;
    grid-column: 3;
    grid-row: 2;
    margin-right: 5%;
}
div.action-call button:hover {
    background-color: rgb(242,160,44);
    border: 1px solid #fff;
}
div.cards {
    margin: 2%;
    padding: .5rem 0;
}

div.cards img {
    width: 100%;
    height: auto;
    border-radius: .25rem;
}
.cover-photo {
    background-image: url("../../templeinns/images/Cedar-City.webp");
    min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#index-main ul li {
    font-family: 'Open Sans', sans-serif;
    margin: 0 2%;
    padding: 0 .5rem;
}





/*.....footer.....*/
footer {
    display: block;
    text-align: center;
    background-color: #CDCDCE;
}
.footer-socials svg, .footer-socials img {
	width: 25px;
	height: auto;
}
picture.footer-logo img {
	width: 100px;
	height: auto;
    margin: 2rem 0;
    border-radius: 1.25rem;
}
div.footer-logo, div.location, div.closing {
    margin: 2%;
    padding: 1rem 0;
}

div.closing {
    border-top: 1px solid #555;
}
