body {
    font-family: 'Roboto', 'Merriweather', Helvetica, sans-serif;
    max-width: 960px;
    margin: 0 auto;    
}

header {;
    display: block;
    max-width: 100%;
    color: #19297C;
    padding: .2rem;
    border-radius: 12px 12px 0px 0px;
    text-align: center;
    
}

h1 {
    font-family: merriweather;
    font-size: .9rem;
}

h2 {
    font-size: 1.2rem;
    margin-left: 1rem;
}

nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    background-color: #07A0C3;
    border: 1px solid #CCC9E7;
    color: white;
    
}

nav ul {
    list-style-type: none;
    display: block;
    text-align: center;
    padding: 0px;

}
nav a:hover{
    background-color: #19297C;
}

a:active {
    background-color: #CCC9E7;
    text-decoration: underline;
}

header img {
    width: 7rem;
    margin-left: 1rem;
}

img {
    width: 100%;
}

.socials {
    text-align: center;
    padding: 1rem;
}

.button {
    background-color: #19297C;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.5s;
  }
  
.button1 {
    border-radius: 10rem;  
}

.button:hover {
    background-color: #07A0C3;
    color: white;
  }

.button2 {
    border-radius: 5.5rem;
}

main{
    text-align: left;
}

main p {
    text-align: left;
    padding: 0 1rem 0 1rem;
}


.grid-container {
    display: grid;
    grid-gap: 3px;
    padding: 10px;
  }
.color {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.color-palete1 {
    background-color: #19297C;
}
.color-palete2 {
    background-color: #07A0C3;
}
.color-palete3 {
    background-color: #CCC9E7;
}

footer {
    text-align: center;
    color: white;
    background-color: #19297C;
    padding: 2.5rem;
    border-radius: 0px  0px 12px 12px;
}

footer div {
    font-size: 1.2rem;
    padding: .3rem;
}

.date {
    font-size: .8rem;
    color: #07A0C3;
}

